<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/makecdcompilation1.css">
    <title>Make A Quality Unmixed EDM CD Compilation</title>


</head>
<body>


<p>
    In today's world, getting access to music can be done with a couple of clicks with a mouse, or with a CD (for the "adults"). Once you amass the many digital
     music files (or CDs), how do you put it all together?!?! If you are trying to put together an EDM compilation on a CD, it is done very carefully.
</p>

<p>
   First, you need to select the genre that you want the compilation to be comprised of (i.e. House, Trance, Techno, Tech House). Once that is done, get together a
    collection of about 20-25 tracks/songs. It would be best that most of the tracks would be in the range of around 5-6 beats per minute (BPMs). If a couple of tracks are a
    little bit outside of that range, the track(s) could still be used in the compilation. Next, select the 5-6 "must have" tracks. You want to keep interested in listening
     to the compilation, not be bored of it within a couple of weeks. You want to listen to those tracks. What is the energy level of each track? The BPMs? You want to have the BPM
    (if possible) and the energy level (a definite) build from track to track.

    Remember, with a CD, you are constrained by the amount of information (converted to time) that the CD can hold. With a typical blank CD, it is usually 74 or 80 minutes.
    With that in mind, you probably have space for another 6 to 10 tracks/songs (depending on the capacity of the blank CD). And remember, the BPM range and the energy levels!!!
     Still need to have a flow throughout the compilation.

    Once you feel that you have a credible compilation assembled, listen to it!!! This is the best way to get a feel of the compilation. You don't have to listen to the
    full-length of every track/song, but a couple of minutes of each track/song would suffice. If feel that the compilation with work as is, then burn the CD!!! If not, take out and
    add in new selections and see if they  will work well together. Keep doing this until you feel that you have put together a quality CD compilation. Then burn the CD.





</p>

<table>
    <thead>
    <tr>
        <th>Artist</th>
        <th>Song Title</th>
        <th>BPM/Key</th>
        <th>Time</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Slam feat. Tyrone 'Visionary' Palmer</td>
        <td>Lifetimes (Radio Edit)</td>
        <td>124/Gmaj</td>
        <td>03:36</td>
    </tr>
    <tr>
        <td>Alan Braxe & Fred Falke pres. Running</td>
        <td>Intro (Radio Edit)</td>
        <td>124/Fmin</td>
        <td>03:33</td>
    </tr>
    <tr>
        <td>Photek feat. Robert Owens</td>
        <td>Mine To Give (Original Mix)</td>
        <td>123/Bmin</td>
        <td>06:44</td>
    </tr>
    <tr>
        <td>Boris Dlugosch feat. Roison Murphy</td>
        <td>Never Enough</td>
        <td>125/Emin</td>
        <td>06:33</td>
    </tr>
    <tr>
        <td>Moloko</td>
        <td>Pure Pleasure Seeker (Disco Vocal)</td>
        <td>129/Bbmaj</td>
        <td>06:59</td>
    </tr>
    <tr>
        <td>Bob Sinclar</td>
        <td>Ich Rocke</td>
        <td>126/Abmaj</td>
        <td>04:29</td>
    </tr>
    <tr>
        <td>Funkstar De Luxe</td>
        <td>Pinganno</td>
        <td></td>
        <td>04:52</td>
    </tr>
    <tr>
        <td>Johnny Corporate</td>
        <td>Sunday Shoutin' (Radio Edit)</td>
        <td>124/Bbmin</td>
        <td>03:10</td>
    </tr>
    <tr>
        <td>Disco Tex pres. Cloudburst</td>
        <td>I Can Cast A Spell</td>
        <td></td>
        <td>05:01</td>
    </tr>
    <tr>
        <td>Bob Marley vs. Olav Basoski</td>
        <td>Could You Be Loved</td>
        <td></td>
        <td>08:22</td>
    </tr>
    <tr>
        <td>Todd Terry</td>
        <td>Raining</td>
        <td></td>
        <td>08:07</td>
    </tr>
    <tr>
        <td>Todd Terry</td>
        <td>Babarabatiri</td>
        <td>125/Amin</td>
        <td>03:14</td>
    </tr>
    <tr>
        <td>X-Press 2</td>
        <td>Muzikizum</td>
        <td>128/Dbmin</td>
        <td>06:07</td>
    </tr>
    <tr>
        <td>Hatiras</td>
        <td>Spaced Invader (Olav Basoski Radio Edit)</td>
        <td>134bpm/Gbmin</td>
        <td>03:24</td>
    </tr>
    <tr>
        <td>Sound De-zign</td>
        <td>Happiness (Club Mix)</td>
        <td>137?/Gbmin</td>
        <td>05:01</td>
    </tr>
    </tbody>


</body>
</html>